.services, .twitter{
    background-color: #4bcaff;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
}

.bgcolor {
    background-color: #8cb3d7;
    padding: 20px;
}

.terminals{
    padding: 20px;
}

input[type="text"],
input[type="email"]
{

    border-color: white;
    width: 15cm;
    padding: 10px;
    font-size: 16px;
    background-color: #8cb3d7
}

.textArea {
    border-color: white;
    background-color: #8cb3d7;
    width: 35cm;
    height: 5cm;
}

.button {
    color: white;
    border: none;
    background-color: #4bcaff;
    height: 1.5cm;
    width: 8cm;
}

.buttonVisit {
    width: 5cm;
    height: 1.5cm;
    border: 1px solid black}

.copi {
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}